@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0 auto;
    padding: 0 auto;
}
body{
    font-family: inter;
    width: 100%;
}
.header_index{
    width: 100%;
    display: flex;
    align-items: center;  
    padding-top: 30px;
    padding-bottom: 30px;
}
.header_index img{
    width: 200px;
}
.header_index a {
    font-size: 40px;
    color: black;
    text-decoration: none;
    position: relative;
    padding-bottom: 5px;
}

.header_index a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: black;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.header_index a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.header_index_hr{
    width: 99%;
    color: black;
    margin-top: 10px;
}
.index_content{
    width: 100%;
}

/* Стили для слайдера */
.slider {
    position: relative;
    max-width: 100%;
    height: 800px;
    overflow: hidden;
}

.slides {
    display: flex;
    width: 100%;
    height: 100%;
}

.slide {
    min-width: 100%;
    transition: 0.5s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Кнопки навигации */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}


.slogan-block{
    width: 70%;
    display: flex;
    margin-top: 100px;
}
.slogan-block p{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
.advantages-block{
    margin-top: 100px;
    width: 80%;
    display: grid;
    gap: 30px;
}

.first_slogan-block{
    width: 100%;
    background-color: #B5CFB7;
    height: 500px;
    display: flex;
    text-align: center;
    border-radius: 10px;
}
.slogan_img{
    margin: 0px;
    width: auto;
    border-radius: 10px;
}
.slogan_text{
    display: flex;
    font-size: 30px;
    font-weight: bold;
    width: 40%;
    align-items: center;
}
.first_slogan-block p{    
    text-align: right;
}

.second_slogan-block{
    width: 100%;
    background-color: #CADABF;
    height: 500px;
    display: flex;
    text-align: center;
    border-radius: 10px;
}
.second_slogan-block p{    
    text-align: left;
}
.third_slogan-block{
    width: 100%;
    background-color: #E7E8D8;
    height: 500px;
    display: flex;
    text-align: center;
    border-radius: 10px;
}
.third_slogan-block p{
    text-align: right;
}
.our_temmates_block{
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;    
    background-color: #B5CFB7;
    padding-top: 50px;
    padding-bottom: 50px;
}
.title_info_block{
    font-size: 40px;
    font-weight: 600;
}
.temmate_info-block{
    width: 100%;
    display: flex;
    margin-top: 100px;
}
.temmate_info{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 25%;
    padding-top: 20px;
    padding-bottom: 30px;
    border-radius: 10px;
    background-color: #CADABF;
}
.temmate_info-title{
    font-size: 30px;
}
.temmate_info img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-top: 50px;
    border-radius: 10px;
}
.temmate_info-content{
    margin-top: 50px;
    font-size: 25px;
    max-width: 60%;
    text-align: center;
}

.form_backcall{
    width: 40%;
    margin-top: 150px;    
    margin-bottom: 150px;
}
.form_backcall p{
    font-size: 64px;
    font-weight: bold;
    text-align: center;
}
.backcall_input{
    width: 100%;
    font-size: 30px;
    padding-left: 5px;
    border-radius: 10px;
    margin-top: 50px;
}
.callback_btn{
    width: 100%;
    background-color: #BC9F8B;
    color: #fff;
    border-radius: 10px;
    font-size: 40px;
    font-weight: bold;
    height: 50px;
    border: none;
    margin-top: 50px;
    cursor: pointer;
    
    transition: 0.5s;
}
.callback_btn:hover{
    background-color: #52453d;
}

/* news */
.header_page {
    width: 100%;
    height: 100px;
    background-color: #848A77;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header_page img {
    margin: 5px;
    width: 60px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.header_page a {
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    position: relative;
    padding-bottom: 5px;
}

.header_page a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #fff;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.header_page a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.header_page-first_href {
    margin-left: 100px;
}

.header_page-second_href {
    margin-right: 100px;
}

.content {
    display: grid;
    width: 100%;
}

.title_page {
    font-size: 50px;
    color: black;
    margin-top: 50px;
    font-weight: bold;
}
.news_block{
    margin-top: 50px;
    width: 60%;
    margin-bottom: 100px;
    background: url(img/back_news.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    border-radius: 10px;
}
.block_with_news{
    margin-top: 50px;
    width: 100%;
    min-height: 100px;
    background-color: #dfffdf;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.title_news_block{
    margin-top: 15px;
    color: #848A77;
    font-size: 30px;
    font-weight: bold;
    width: 98%;
    text-align: center;
}
.hr_news_block{
    width: 98%;
    color: #848A77;
    margin-top: 20px;
    border: 1px solid #848A77;
    border-radius: 10px;
}
.content_news_block{
    width: 98%;
    color: #848A77;
    margin-top: 20px;
    font-size: 22px;
}
.content_news_date{
    margin-top: 20px;
    color: #848A77;
    font-size: 30px;
    font-weight: bold;
    width: 98%;
    text-align: center;
    margin-bottom: 20px;
}

footer{
    background-color: black;
    width: 100%;
    height: 600px;
    color: #fff;
    display: flex;
    flex-direction: column;
}
footer img{
    margin-top: 50px;
}
footer p{
    margin-top: 10px;
    font-size: 50px;
    font-weight: 500;
}

/* auth */
.auth_block{
    margin-top: 150px;
    width: 40%;
    height: 400px;
    background-color: #AAB396;
    border-radius: 10px;
    display: grid;
}
.auth_block form{
    width: 100%;
    display: grid;
}
.auth_block p{
    margin-top: 40px;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
}
.login_auth, 
.password_auth{
    width: 50%;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    padding: 5px;
}
.submit_auth{
    width: 50%;
    background-color: #674636;
    height: 50px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}
.submit_auth:hover{
    background-color: #422d23;
}

/* admin_dashboard */
.admin_panel_block{
    width: 70%;
    margin-top: 250px;
    display: flex;
}
.cart_admin_panel{
    background-color: #AAB396;
    width: 350px;
    height: 350px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.form_grid{
    display: grid;
    width: 100%;
}
.cart_admin_panel:hover{
    width: 400px;
    height: 400px;
}
.cart_admin_panel img{
    margin: 50px;
    width: 70%;
}
.input_title_news{
    margin-top: 100px;
    width: 40%;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 25px;
    padding: 5px;
    text-align: center;
}
.textarea_content_news{
    margin-top: 50px;
    width: 40%;
    max-width: 45%;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 22px;
    padding: 5px;
    text-align: center;
    min-height: 300px;
}
.submit_new_news{    
    width: 40%;
    font-size: 25px;
    color: #fff;
    background-color: #674636;
    border-radius: 5px;
    border: none;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 65px;
    transition: 0.5s;
}
.submit_new_news:hover{
    background-color: #422d23;
}

/* callback_admin */
.call_requests_table {
    width: 60%;
    border-collapse: collapse;
    margin-top: 50px;
}
.call_requests_table th, .call_requests_table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    text-align: center;
}
.call_requests_table th {
    background-color: #848A77;
    color: white;
}
.call_requests_table tr:nth-child(even) {
    background-color: #f2f2f2;
}
.call_requests_table tr:hover {
    background-color: #ddd;
}

/* client_dashboard */
.order_service_block{
    text-align: center;
    margin-top: 50px;
    background-color: #AAB396;
    width: 50%;
    color: #fff;
    border-radius: 10px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
}
.title_service_block{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
}
#category,
#services{
    width: 50%;
    font-size: 20px;
    border-radius: 5px;
    text-align: center;
}
#services_block{
    width: 100%;
}
#service_details{
    margin-top: 30px;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
}
